<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /wincon-properties1
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond $1 !^(index\.php|images|robots\.txt|css|docs|js|system)
   RewriteRule ^(.*)$ /wincon-properties1/index.php?/$1 [L]
</IfModule>